<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.abilidadev2"
      android:versionCode="5"
      android:versionName="5.0">
    <uses-sdk android:minSdkVersion="4" />
    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:name=".application.AbilidadeApplication"
    	>
        <activity android:name=".activities.AltaPuntoActivity"
        	android:theme="@style/Theme.ActionBar"
        	android:screenOrientation="portrait" 
        />
        <activity android:name=".mapa.MapaActivity"
            android:theme="@style/Theme.ActionBar"
            android:screenOrientation="portrait"
        />
        <activity android:name=".activities.DetallePuntoActivity"
            android:theme="@style/Theme.ActionBar"
            android:screenOrientation="portrait"
        />
        <activity android:name=".activities.RutasAccesiblesActivity"
            android:theme="@style/Theme.ActionBar"
            android:screenOrientation="portrait"
        />
        <activity android:name=".activities.webViewActivity"
            android:theme="@style/Theme.ActionBar"
            android:screenOrientation="portrait"
        />
        <activity android:name="org.abilidadev2.activities.AccederActivity"
            android:screenOrientation="portrait"
        />
        <activity android:name="org.abilidadev2.activities.CrearCuentaActivity"
            android:screenOrientation="portrait"
        />
        <activity android:name="org.abilidadev2.activities.ConfirmarUsuarioActivity"
            android:screenOrientation="portrait"
        />
        <activity android:name="org.abilidadev2.activities.AjustesActivity"
            android:theme="@style/Theme.ActionBar"
            android:screenOrientation="portrait"
        />
        <activity android:name=".activities.ZoomImagenActivity" />
        <activity android:name=".activities.BienvenidaActivity"
            	  android:screenOrientation="portrait"> 
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps" />
        <!-- CLAVE DE DESARROLLO:  AIzaSyDU-qTatkqSP7srgiuZYaWWsc-chZ-cnZg-->
        <!-- CLAVE DE PRODUCCION:  AIzaSyDFNHADHFP_y9K2KQDNYdQk_46vsGxy9cU -->
        <!-- CLAVE ACTIVA: PRODUCCION -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDFNHADHFP_y9K2KQDNYdQk_46vsGxy9cU"
        />
    </application>
    <permission
        android:name="org.abilidadev2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="org.abilidadev2.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
</manifest>